

.container {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 125px;
  margin: 10px;
  float: left;
  min-height: 180px;
}

.select {
  max-width: 115px;
}

.card-container {
  max-width: 900px;
}

.misc-container {
  float: left;
  margin: 10px;
}

.button {
  margin-right: 10px;
}

p {
  color: red;
}

mat-card {
  background-color: #7dd6ff;
}