<div class="card-container">
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 1</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f1o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f1o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 2</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f2o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f2o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 3</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f3o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f3o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 4</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f4o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f4o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 5</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f5o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f5o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 6</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f6o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f6o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 7</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f7o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f7o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 8</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f8o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f8o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 9</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f9o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f9o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
    
    <mat-card class="card">
        <mat-card-header>
        <mat-card-title>Frame: 10</mat-card-title>
        </mat-card-header>
        <div class="container">
            <mat-form-field class="select">
                <mat-label>First Roll</mat-label>
                <mat-select [(ngModel)]="f10o1">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Second Roll</mat-label>
                <mat-select [(ngModel)]="f10o2">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-label>Third Roll</mat-label>
                <mat-select [(ngModel)]="f10o3">
                    <mat-option *ngFor="let o of options" [value]="o.value">
                        {{ o.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
</div>

<div class="misc-container">
    <p>Selected option1: {{ sum }}</p>
    <p>Selected option2: {{ f1o2 }}</p>
    <button mat-button (click)="calculateClick()">CALCULATE</button>
</div>
